.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 100px;
    width: 75vw;
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin-left: 90px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .card:hover {
    transform: scale(1.1);
  }
  
  #profileImg {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 741px) {
    .container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media screen and (max-width: 530px) {
    .container {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width: 980px) {
    .container {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
  